<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1> this is the home page 1 + 2</h1>
    <!-- Interpolation tag -->
    <h3><%= 1+2 %></h3> 
    <p> C:\Users\ASUS\OneDrive\Desktop\share\webdev\webdev\expressC:\Users\ASUS\OneDrive\Desktop\share\webdev\webdev\expressC:\Users\ASUS\OneDrive\Desktop\share\webdev\webdev\express
        C:\Users\ASUS\OneDrive\Desktop\share\webdev\webdev\expressC:\Users\ASUS\OneDrive\Desktop\share\webdev\webdev\expressC:\Users\ASUS\OneDrive\Desktop\share\webdev\webdev\express
        C:\Users\ASUS\OneDrive\Desktop\share\webdev\webdev\expressC:\Users\ASUS\OneDrive\Desktop\share\webdev\webdev\expressC:\Users\ASUS\OneDrive\Desktop\share\webdev\webdev\express
    </p>
    <button>click me!</button>
</body>
</html>